.footer{
    display: flex;
    flex-direction: row;
    background: #F2F2F2;
    justify-content: space-between;
}

.footer-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 100%;
}

@media (max-width: 768px){

    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        width: fit-content;
    }
    .footer-content p{
        width: fit-content;
    }

}